<!DOCTYPE html>
<html>
<head>
	<title></title>
	
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script>
		angular.module("sample",[]);
	</script>
	
	<div ng-app="sample">
		<p> Fill the details below</p>
		<p> First Name:<input text="text" ng-model="name"></p>
		<p ng-bind="name"></p>
		<p> Last Name:<input text="text" ng-model="last_name"></p>
		<p ng-bind="last_name"></p>
		<p> Sum of two numbers 3+5 is {{3+5}}</p>

	</div>
	
</body>
</html>